$primary: #607d8b;
$secondary: #ff7043;

h1 {
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
    background-color: #fff;
    margin: -20px;
    color: $secondary;
    padding-right: 20px;
    padding-left: 25px;
    height: calc(100% + 20px);
    display: flex;
    top: -10px;
    align-items: center;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    transition: 0.2s all;

    &:hover {
        transform: scale(1.1);
        padding-right: 30px;
    }
}

.spacer {
    flex: 1 1 auto;
}

main {
    margin: 20px;
}

button:last-of-type {
    margin-right: -10px;
}